
@media(max-width:63.9375em)
{
    .btn{
        padding: 15px 16px;
    }
    .contac-info{
        line-height: 2;
    }
    #footer .social-section i{
        font-size: 30px;
        padding:  0  8px;
       
    }
    #footer .copy-right a{
        padding: 12px 0;
        display: inline-block;
    }
    
}




@media(max-width: 46.1875em)
{
    .s-full-width,
    .s-col-full{
        width: 100%;
    }
    
    .s-mt-8{
        margin-top: 8px;
    }


    #header{
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn {
        
        display: none;
    }

    #nav{
        display: block;
    }
    #nav  > li:first-child{
        display: inline-block;
    }
    #nav > li {
        padding: 1px 0;;
        display: block;
        overflow: hidden;
    }
    #nav .subnav {
        position:initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 34px;
    }
    #content .member-img{
        width:60%
    }

    .contac-info {
        padding-bottom: 16px;
    }
    .contac-form{
        margin-top: 8px;
    }
    
    .btn{
        width: 100%;
    }
}